body {
  background-image: linear-gradient(135deg, #ffffff, #dddddd);
}
.logo {
  width: 90px;
  float: left;
  margin-top: -17px;
  margin-left: 10px;
  cursor: pointer;
  /*border: 1px solid white; */
}
.search_form {
  position: relative;
  height: 31px;
  margin: 0 auto;
  display: inline-block;
}

.search_form:hover {
  -webkit-box-shadow: 0 0 3px #999;
  -moz-box-shadow: 0 0 3px #999;
}
.sinput {
  width: 10%;
  height: 21px;
  line-height: 21px;
  color: #b3b3b3;
  border: 1px solid #999;
  border-radius: 2px 0 0 2px;
  background-color: #fbfbfb;
  float: right;
  margin-top: -40px;
  margin-right: 90px;
}
.sbtn {
  float: right;
  width: 4%;
  height: 25px;
  padding: 0 12px;
  border-radius: 0 2px 2px 0;
  border: 1px solid #4d90fe;
  background-color: #4d90fe;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  color: #f3f7fc;
  margin-top: -40px;
  margin-right: 20px;
}
.sbtn:hover {
  background: #4084f2;
}
#top {
  padding: 20px 0;
  width: 100%;
  background-image: linear-gradient(135deg, gray, #dddddd);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.topList {
  display: table;
  width: 80%;
  /* border: 1px solid white; */
}
.topList li {
  display: table-cell;
}
.topList a:hover {
  color: red;
}

.topList li > a {
  display: block;
  text-align: center;
  color: white;
}
.btn1 {
  width: 50px;
  height: 25px;
  padding: 0 12px 0 12px;
  margin: 0 12px 0 12px;
  border-radius: 0 2px 2px 0;
  border: 1px solid #4d90fe;
  background-color: #4d90fe;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  color: #f3f7fc;
}
.btn1:hover {
  background: #4084f2;
}
#allImg {
  margin-left: 5%;
  width: 90%;
  overflow: scroll;
  height: 550px;
  overflow: auto;
}
#allImg div {
  display: block;
  padding: 0px 10px 0px 22px;
  float: left;

  margin: 5px;
}
#allImg div img {
  width: 180px;
  height: 230px;
  display: block;
  margin: auto;
  margin-top: -5px;
}
#allImg div p {
  text-align: center;
  margin-top: 10px;
}
.btn {
  margin-left: 35%;
}
#allImg p:hover {
  color: red;
}
#bottom {
  position: relative;
  width: 100%;
  height: 80px;
  text-align: center;
  background-image: linear-gradient(135deg, #dddddd, gray);
}
.bottom a {
  position: absolute;
  right: 1.2%;
}
#bottom p {
  position: relative;
  margin: 0 auto;
  padding-top: 30px;
  color: white;
  cursor: pointer;
}
